.crt-n {
    border: 1px solid #e7e7e7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 2px #e7e7e7;
    font-size: larger;
    font-weight: bold;
}

.crt-n:hover {
    cursor: pointer;
    box-shadow: 1px 2px 8px 2px #93b2e8;
    /* font-size: x-large;
    font-weight: bolder; */
}

.mrg-20 {
    margin: 2rem 1rem 1rem 1rem;
}

.fa-solid {
    padding-left: 10px;
    color: #a3a3a3;
}
